*.swp
*~
.DS_Store
.tmp*
/dotfiles/cargo/.*
/dotfiles/cargo/bin
/dotfiles/cargo/git
/dotfiles/cargo/registry
/dotfiles/config/**/*.log
/dotfiles/config/MusicBrainz/
/dotfiles/config/cdmvault
/dotfiles/config/coc/*-history.json
/dotfiles/config/coc/commands
/dotfiles/config/coc/extensions/*-data/
/dotfiles/config/coc/extensions/db.json
/dotfiles/config/coc/extensions/node_modules/
/dotfiles/config/coc/extensions/package.json
/dotfiles/config/coc/history.json
/dotfiles/config/coc/lists
/dotfiles/config/coc/memos.json
/dotfiles/config/coc/mru
/dotfiles/config/configstore/
/dotfiles/config/configstore/nodemon.json
/dotfiles/config/configstore/update-notifier-*
/dotfiles/config/exoscale.ini
/dotfiles/config/gh/
/dotfiles/config/git/config.local
/dotfiles/config/iTerm2/AppSupport
/dotfiles/config/internetarchive/ia.ini
/dotfiles/config/licensezero/developer.json
/dotfiles/config/lite-xl/ws/
/dotfiles/config/meli
/dotfiles/config/mpv/
/dotfiles/config/nvim/plugged
/dotfiles/config/nvim/sessions
/dotfiles/config/oil/history_oil
/dotfiles/config/op/config
/dotfiles/config/org.sparkleshare.SparkleShare/
/dotfiles/config/psy
/dotfiles/config/psysh/psysh_history
/dotfiles/config/psysh/update*
/dotfiles/config/rclone/rclone.conf
/dotfiles/config/stripe/config.toml
/dotfiles/config/wireshark/recent*
/dotfiles/config/zed/embeddings/
/dotfiles/config/zed/prompts/
/dotfiles/gnupg/*.db
/dotfiles/gnupg/crls.d/*
/dotfiles/gnupg/openpgp-revocs.d/
/dotfiles/gnupg/private-keys-v1.d/
/dotfiles/gnupg/pubring.kbx
/dotfiles/gnupg/random_seed
/dotfiles/gnupg/secring.gpg
/dotfiles/gnupg/trustdb.gpg
/dotfiles/ssh/*.key
/dotfiles/ssh/*.pub
/dotfiles/ssh/authorized_keys*
/dotfiles/ssh/config.local
/dotfiles/ssh/id_*
/dotfiles/ssh/known_hosts
/dotfiles/ssh/known_hosts.old
/dotfiles/ssh/random_seed
node_modules
