/dotfiles/config/**/*.log
/dotfiles/config/coc/commands
/dotfiles/config/coc/extensions/*-data/
/dotfiles/config/coc/extensions/db.json
/dotfiles/config/coc/extensions/node_modules/
/dotfiles/config/coc/history.json
/dotfiles/config/coc/memos.json
/dotfiles/config/coc/mru
/dotfiles/config/coc/lists
/dotfiles/config/meli
/dotfiles/config/configstore/nodemon.json
/dotfiles/config/configstore/update-notifier-*
/dotfiles/config/exoscale.ini
/dotfiles/config/nvim/plugged
/dotfiles/config/nvim/sessions
/dotfiles/config/org.sparkleshare.SparkleShare/
/dotfiles/config/psy
/dotfiles/config/psysh/psysh_history
/dotfiles/config/psysh/update*
/dotfiles/config/wireshark/recent*
/dotfiles/config/gh/
/dotfiles/gnupg/crls.d/*
/dotfiles/gnupg/pubring.kbx
/dotfiles/gnupg/*.db
/dotfiles/gnupg/openpgp-revocs.d/
/dotfiles/gnupg/private-keys-v1.d/
/dotfiles/gnupg/random_seed
/dotfiles/gnupg/trustdb.gpg
/dotfiles/ssh/*.key
/dotfiles/ssh/*.pub
/dotfiles/ssh/authorized_keys*
/dotfiles/ssh/id_*
/dotfiles/ssh/known_hosts
/dotfiles/ssh/random_seed
.DS_Store
*~
*.swp
node_modules
