[submodule "config/nvim/bundle/vim-stylus"]
	path = config/nvim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "config/nvim/bundle/Vundle.vim"]
	path = config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
